/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
  /* bg colors */
  --background: #02050e;
  --primary: #1e50ff;
  --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;

  /* text colors */
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;
  --text-gold: #e7ff13;

  /* decoration */
  --fire: #ff6d00;
  --electric: #64d3ff;
}

/* selector universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
}

/* header */
header {
  background: var(--secondary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 30px;
  box-shadow: rgba(92, 167, 243, 0.8) 0px 8px 24px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo-nav {
  width: 24vh;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 150px;
}

.navbar-list {
  gap: 25px;
}

.navbar-list a {
  color: var(--text-gray);
  font-size: 14px;
}

.navbar-list li:first-child > a {
  color: var(--text-white);
  font-weight: 600;
}

/* menú hamburguesa */
.navbar i {
  font-size: 36px;
  display: none;
}

#toggle-menu {
  display: none;
}
/* -------------- */

/* main */
main {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
}

#hero {
  display: flex;
  padding: 70px 0;
  margin-top: 75px;
  width: 90%;
  justify-content: space-around;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.hero-info h1 {
  font-weight: 800;
  font-size: 48px;
  width: 80%;
  color: var(--text-white);
}

.hero-info p {
  font-weight: 500;
  font-size: 17px;
  max-width: 350px;
  color: var(--text-gray);
}

.hero-info p > span {
  font-weight: 800;
  color: var(--text-white);
}

.botones-hero {
  display: flex;
  align-items: center;
  gap: 20px;
}

#btn-call {
  color: var(--text-white);
  background-color: var(--primary);
  width: 170px;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

#btn-learn {
  color: var(--text-white);
  border: 3px solid var(--text-white);
  width: 170px;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

/* hero card */
.hero-card {
  width: 350px;
  background: rgba(92, 167, 243, 0.1);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 360px;
}

.logo-hero {
  width: 100%;
}

/* about */

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 850px;
  padding: 70px 0;
  margin-top: 50px;
  margin-bottom: 100px;
  background-color: #3662ff38;
  border-radius: 150px 5px;
}

.descripcion {
  text-align: center;
  width: 90%;
  height: 100%;
  background: rgba(92, 168, 243, 0.041);
  border-radius: 100px 5px;
}

.descripcion p {
  font-size: 18px;
  padding: 10px 30px;
  color: var(--text-white);
}

span {
  font-weight: 600;
}

/* media queries */
@media (max-width: 992px) {
  .hero-info {
    text-align: center;
    width: 90%;
    align-items: center;
  }

  .hero-info h1 {
    display: block;
    width: 100%;
  }

  .hero-info p {
    max-width: 80%;
    font-size: 20px;
  }

  .botones-hero {
    justify-content: center;
  }

  .hero-card {
    display: none;
  }

  #about {
    font-size: 14px;
  }

  #contact {
    flex-direction: column;
    align-items: center;
  }

  .info-container {
    gap: 50px;
  }

  .info-container h2 {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .navbar ul {
    background-color: var(--btn-bg);
    width: 100%;
    height: calc(100vh - 75px);
    position: absolute;
    top: 75px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(200%);
    transition: all 0.4s ease-out;
  }

  .navbar i {
    display: block;
    color: var(--bg-white);
  }

  #toggle-menu:checked ~ .navbar-list {
    transform: translateX(0%);
    transition: all 0.4s ease-in;
  }

  .hero-info p {
    max-width: 100%;
  }

  .contact-info-container {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }

  .info-column {
    align-items: center;
  }

  iframe {
    height: 300px;
    width: 100%;
  }
}

/* CARDS */
#cards-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  padding: 70px 0;
  width: 95%;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
}

.card i {
  font-size: 50px;
}

.card h3 {
  font-size: 20px;
}

/* contact */
#contact {
  display: flex;
  padding: 70px 30px;
  width: 100%;
  justify-content: space-around;
  color: white;
  flex-wrap: wrap;
  gap: 50px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.contact-info-container {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}

.info-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-column h3 {
  font-size: 24px;
}

.info-column p,
.info-column a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-column a {
  text-decoration: none;
  color: white;
}

.black-bg {
  background-color: black;
}

iframe {
  height: 350px;
  width: 400px;
}

/* footer */
footer {
  color: white;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-size: 20px;
}
