* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
}

header {
  background: rgb(27, 27, 27);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 30px 0 30px;
  position: fixed;
  top: 0;
}

logo {
  height: 40%;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 150px;
}

.navbar-list {
  gap: 30px;
}

.navbar-list a {
  color: beige;
  font-size: 16px;
}
